.products {
  background: #f8fafc;
  width: 100%;
  height: 100vh;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  background-color: #fff;
  border: 2px solid #8d8d8d80;
  margin: 0 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination button:hover {
  background-color: #55a3f0;
  color: #fff;
  border: none;
}

.pagination button.active {
  border: none;
  background-color: #55a3f0;
  color: #fff;
  cursor: default;
  pointer-events: none;
  font-weight: 700;
}
