.TableProducts {
  width: 100%;
  max-width: 1390px;
  margin: 2rem auto;
  height: 70px;
  background-color: #f2f2f2;
  justify-content: space-between;
  border-radius: 30px 30px 0 0;
  width: 100%;
  max-width: 1390px;
}
