.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(16, 16, 16, 0.219);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  width: 460px;
  height: 448px;
  background-color: white;
  padding: 1.5rem;
  border-radius: 30px;
}

.modalContent h2 {
  font-weight: 700;
  font-size: 22px;
  color: #282828;
  margin-bottom: 1rem;
  text-align: center;
}

.modalContent label {
  display: block;
  margin: 0 8px 10px 0;
  font-weight: 600;
  font-size: 14px;
  font-weight: 500;
}

.modalContent input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: #f2f2f2;
}

.modalButtons {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 15px;
}

.modalButtons button {
  height: 42px;
  width: 195px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.modalButtons button[type="submit"] {
  background-color: #55a3f0;
  color: white;
}

.modalButtons button[type="button"] {
  background-color: #dfdfdf;
  color: #282828cc;
}
.Managment {
  display: flex;
  gap: 15px;
}

.ManagmentProducts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1340px;
  margin: 3rem auto;
}

.Managment h1 {
  width: 160px;
  font-size: 24px;
  font-weight: 400;
}

.button button {
  background-color: #55a3f0;
  color: #fff;
  width: 132px;
  height: 45px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: all 0.35s ease;
}

.button button:hover {
  background-color: #3d8ee0;
}

.button button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: 0.6s;
}

.button button:hover::before {
  left: 100%;
}
